@using RAG.AI.Application.Commands.Users.ChangePassword
@model ChangePasswordCommand
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="row">
    <div class="col-md-12">
        <div class="card border-dark">
            <div class="card-header bg-dark">
                <h4 class="m-b-0 text-white">
                    @ViewData["Title"]
                </h4>
            </div>
            <div class="card-body">
                <form id="sub-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="row">
                        <div class=" d-flex flex-column align-items-start col-md-4 col-12">
                            <label class="">رمز عبور فعلی :</label>
                            <input class="form-control  " asp-for="CurrentPassword" id="currentPassword" placeholder="رمز عبور فعلی" type="text">
                            <span asp-validation-for="CurrentPassword" class="text text-danger mb-2"></span><br />
                        </div>
                        <div class=" d-flex flex-column align-items-start col-md-4 col-12">
                            <label class="">رمز عبور جدید :</label>
                            <input class="form-control  " asp-for="Password" id="Password" placeholder="رمز عبور جدید" type="text">
                            <span asp-validation-for="Password" class="text text-danger mb-2"></span><br />

                        </div>
                        @* <div class=" d-flex flex-column align-items-start col-md-4 col-12">
                            <label class="">تکرار رمز عبور جدید :</label>
                            <input class="form-control  " asp-for="RePassword" id="rePassword" placeholder="تکرار رمز عبور جدید" type="password">
                            <span asp-validation-for="RePassword" class="text text-danger mb-2"></span><br />
                        </div> *@
                    </div>

                    <div class="my-3">
                        <button type="submit" class="btn btn-warning submit">تغییر کلمه عبور</button>
                        <a href="@Url.Action("Index","Home")" class="btn btn-danger">بازگشت</a>
                        <div class="clearfix"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#sub-form").on('submit', function (e) {
            e.preventDefault();
            if ($("#sub-form").valid() === false) return;
            $(".submit").prop('disabled', true);

            var formData = new FormData($(this)[0]);
            $.ajax({
                method: 'POST',
                url: '@Url.Action("ChangePassword")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $(".submit").prop('disabled', false);
                    var result = response;

                    toastr.success('عملیات با موفقیت انجام شد', 'موفقیت');
                    return;

                },
                error: function (e) {
                        $(".submitBtn").prop('disabled', false);
                    toastr.error(e.responseJSON.detail, 'خطا');
                }
            });
        });

    </script>
}


