<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1240">
    <meta name="format-detection" content="telephone=no">



</head>

<body class="badge-19" lang="en" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">


    <div id="glo_wrapper">

        <div id="glo_contents">

            @RenderBody()

        </div>
        <!-- //main -->

        <!-- //footer -->
    </div>


</body>

</html>