
@{
    ViewData["Title"] = "SingleCatalog";
}

<section class="ep-header_ch">
    <input type="hidden" id="member_turn_art_cnt" value="0">
    <header class="ep-cover_ch" style="background: url(https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/2024_03_26_17114406980130.jpg) no-repeat;">
        <div class="inner_ch" style="background: url(https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/2024_07_08_17204262840570.png) no-repeat;">
            <div class="title_content_box">
                <div class="title_content">
                    <div class="type_box">
                        <span class="type">
                            Drama                             / Romance
                        </span>
                        <span class="date">Saturday</span>
                        <span class="writer">Studio Zilpung</span>
                    </div>
                    <h1 id="episode_title" style="white-space: nowrap;"><span class="textFitted" style="display: inline-block; font-size: 37px;">Lady Long Legs</span></h1>
                    <h2>
                        Ji Hyunwoo gets a chance to turn his life around after signing a contract with a rich and powerful woman! <br>
                        But why does it feel like everyone wants a piece of me...?!
                    </h2>
                    <div class="episode_sns">
                        <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/212795/toon/7531/ep/2&#39;" class="first_episode" data-e="NzUzMQ==" data-c="MjEyNzk1" data-v="Mg==">
                            Continue Episode 2
                        </a>
                        <div class="btn_favorites_wrap">
                            <a id="toggle-like" class="btn_favorites_lp " data-option="7531">favorite</a>
                            <span class="toast_popup" id="toast_popup" style="display: none;">
                                <span class="toast_popup_text _add_favorites">Added to favorites<em class="tri"></em></span>
                                <span class="toast_popup_text _remove_favorites">Removed from favorites<em class="tri"></em></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //ep info -->
        </div>
    </header>
    <!-- //ep cover -->
</section>
<!-- //ep header -->



<div class="inner episode-contents">
    <section class="ep-body">
        <header>
            <div class="clearfix" id="all-step1">
                <div class="pull-left">
                    <h1>
                        Updated every <span class="text-red">Saturday</span>
                    </h1>
                </div>

            </div>
        </header>
        <ol class="list-ep">


            <li class="normal_ep own ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/212794/ep/1/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEyNzk0" data-v="MQ==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/1/2024_03_25_17113320678706.jpg" src="./Lady Long Legs - Toomics_files/2024_03_25_17113320678706.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;">                                                                            <span class="bookmark"><img src="/assets/web/img/icon/bookmark.png" alt="Read next episode"></span>
                            <span class="last_read prettydate" data-date="2024-10-10 23:07:29">1 hour ago</span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">1</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">9.8</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="May 18, 2024">May 18, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type1"><em class="cointype01">F</em>FREE</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/212795/ep/2/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEyNzk1" data-v="Mg==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/2/2024_03_25_17113320712716.jpg" src="./Lady Long Legs - Toomics_files/2024_03_25_17113320712716.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;">
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">2</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="May 18, 2024">May 18, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type1"><em class="cointype01">F</em>FREE</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/212799/ep/3/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEyNzk5" data-v="Mw==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/3/2024_03_25_17113432335432.jpg" src="./Lady Long Legs - Toomics_files/2024_03_25_17113432335432.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;">
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">3</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="May 18, 2024">May 18, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type1"><em class="cointype01">F</em>FREE</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/212803/ep/4/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEyODAz" data-v="NA==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/4/2024_03_25_17113551358796.jpg" src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">4</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="May 18, 2024">May 18, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/213043/ep/5/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEzMDQz" data-v="NQ==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/5/2024_04_01_17119530294204.jpg" src="./Lady Long Legs - Toomics_files/2024_04_01_17119530294204.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">5</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="May 18, 2024">May 18, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/213560/ep/6/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEzNTYw" data-v="Ng==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/6/2024_04_02_17120441159760.jpg" src="./Lady Long Legs - Toomics_files/2024_04_02_17120441159760.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">6</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="May 25, 2024">May 25, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/213561/ep/7/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEzNTYx" data-v="Nw==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/7/2024_04_02_17120441188931.jpg" src="./Lady Long Legs - Toomics_files/2024_04_02_17120441188931.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">7</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jun 01, 2024">Jun 01, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/213562/ep/8/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEzNTYy" data-v="OA==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/8/2024_04_02_17120441218114.jpg" src="./Lady Long Legs - Toomics_files/2024_04_02_17120441218114.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">8</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jun 08, 2024">Jun 08, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/213563/ep/9/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjEzNTYz" data-v="OQ==">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/9/2024_04_02_17120441245291.jpg" src="./Lady Long Legs - Toomics_files/2024_04_02_17120441245291.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">9</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jun 15, 2024">Jun 15, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/214276/ep/10/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjE0Mjc2" data-v="MTA=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/10/2024_04_12_17129033770575.jpg" src="./Lady Long Legs - Toomics_files/2024_04_12_17129033770575.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">10</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jun 22, 2024">Jun 22, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/214277/ep/11/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjE0Mjc3" data-v="MTE=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/11/2024_04_12_17129033804092.jpg" src="./Lady Long Legs - Toomics_files/2024_04_12_17129033804092.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">11</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jun 29, 2024">Jun 29, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/217272/ep/12/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjE3Mjcy" data-v="MTI=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/12/2024_05_30_17170504671177.jpg" src="./Lady Long Legs - Toomics_files/2024_05_30_17170504671177.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">12</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jul 06, 2024">Jul 06, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/219148/ep/13/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjE5MTQ4" data-v="MTM=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/13/2024_06_18_17186794010881.jpg" src="./Lady Long Legs - Toomics_files/2024_06_18_17186794010881.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">13</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jul 13, 2024">Jul 13, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/219149/ep/14/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjE5MTQ5" data-v="MTQ=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/14/2024_06_18_17186794052712.jpg" src="./Lady Long Legs - Toomics_files/2024_06_18_17186794052712.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">14</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jul 20, 2024">Jul 20, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/222213/ep/15/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIyMjEz" data-v="MTU=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/15/2024_07_08_17204080171738.jpg" src="./Lady Long Legs - Toomics_files/2024_07_08_17204080171738.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">15</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Jul 27, 2024">Jul 27, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/222214/ep/16/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIyMjE0" data-v="MTY=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/16/2024_07_08_17204080224125.jpg" src="./Lady Long Legs - Toomics_files/2024_07_08_17204080224125.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">16</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Aug 03, 2024">Aug 03, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/222865/ep/17/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIyODY1" data-v="MTc=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/17/2024_07_16_17210993368745.jpg" src="./Lady Long Legs - Toomics_files/2024_07_16_17210993368745.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">17</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Aug 10, 2024">Aug 10, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/223514/ep/18/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIzNTE0" data-v="MTg=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/18/2024_08_01_17224788059957.jpg" src="./Lady Long Legs - Toomics_files/2024_08_01_17224788059957.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">18</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Aug 17, 2024">Aug 17, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/223515/ep/19/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIzNTE1" data-v="MTk=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/19/2024_08_01_17224788089927.jpg" src="./Lady Long Legs - Toomics_files/2024_08_01_17224788089927.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">19</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Aug 24, 2024">Aug 24, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/223516/ep/20/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIzNTE2" data-v="MjA=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/20/2024_08_01_17224788119991.jpg" src="./Lady Long Legs - Toomics_files/2024_08_01_17224788119991.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">20</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Aug 31, 2024">Aug 31, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/223517/ep/21/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIzNTE3" data-v="MjE=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/21/2024_08_01_17224788151038.jpg" src="./Lady Long Legs - Toomics_files/2024_08_01_17224788151038.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">21</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Sep 07, 2024">Sep 07, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/223811/ep/22/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIzODEx" data-v="MjI=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/22/2024_08_06_17229068304877.jpg" src="./Lady Long Legs - Toomics_files/2024_08_06_17229068304877.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">22</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Sep 14, 2024">Sep 14, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/223812/ep/23/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjIzODEy" data-v="MjM=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/23/2024_08_06_17229068351044.jpg" src="./Lady Long Legs - Toomics_files/2024_08_06_17229068351044.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">23</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Sep 21, 2024">Sep 21, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/227726/ep/24/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjI3NzI2" data-v="MjQ=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/24/2024_09_04_17254369018198.jpg" src="./Lady Long Legs - Toomics_files/2024_09_04_17254369018198.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">24</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Sep 28, 2024">Sep 28, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>


            <li class="normal_ep  ">
                <a href="javascript:;" onclick="Webtoon.chkec(this);location.href=&#39;/en/webtoon/detail/code/227727/ep/25/toon/7531&#39;" onkeypress="this.onclick" data-e="NzUzMQ==" data-c="MjI3NzI3" data-v="MjU=">
                    <div class="cell-thumb">
                        <div class="thumb">
                            <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231122140911/25/2024_09_04_17254369098650.jpg" src="./Lady Long Legs - Toomics_files/2024_09_04_17254369098650.jpg" alt="Lady Long Legs" class="list_lazy" style="display: inline-block;"><span class="lock"><img src="/assets/web/img/icon/lock-white.png" alt="Purchase and start reading" width="11"></span>
                        </div>
                    </div>
                    <div class="cell-num"><span class="num">25</span></div>
                    <div class="cell-title">
                        <strong class="line-3">
                            Lady Long Legs
                        </strong>
                    </div>
                    <div class="cell-stars">
                        <span class="wrap-stars">
                            <strong class="sr-only">Rating</strong>
                            <span class="stars-sm"><span class="star" style="width:100%"></span></span>
                            <span class="star-stat">10</span>
                        </span>
                    </div>
                    <div class="cell-time"><time datetime="Oct 05, 2024">Oct 05, 2024</time></div>
                    <div class="cell-coin"><span class="coin-type5"><em class="cointype05">V</em>VIP ONLY</span></div>
                </a>

            </li>
        </ol>
    </section> <!-- //ep body -->

    <section class="ep-sidebar" style="">
        <div class="delta" style="height: 0px; transition: height 0.2s;"></div>
        <div class="glo_sidebar">
            <!-- You may also like Start -->
            <div id="sidebar1">
                <div class="clearfix cate-title">
                    <strong class="section_title"><span class="ico_hot"></span>You may also like</strong>
                </div>
                <ul class="list-sidebar">
                    <li>
                        <a href="https://toomics.com/en/webtoon/episode/toon/7645">
                            <div class="thumb line">
                                <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20231207090653/2024_02_01_17067578447897.jpg" src="./Lady Long Legs - Toomics_files/2024_02_01_17067578447897.jpg" class="list_lazy" alt="" style="display: inline-block;">
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="iconew">New</p>
                                    </div>
                                    <p><span class="section_remai">27</span></p>
                                </div>
                            </div>
                            <div class="caption">
                                <strong class="tit">Unquenchable Thirst</strong>
                                <p class="comic_genre">
                                    Romance                                             / Drama
                                </p>
                                <span class="excerpt">
                                    A one-night stand with her boss just might turn this temp’s life into a roller-coaster ride.
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://toomics.com/en/webtoon/episode/toon/7646">
                            <div class="thumb line">
                                <img data-original="https://thumb-g2.toomics.com/upload/thumbnail/20231207090653/2024_01_30_17065986142861.jpg" src="./Lady Long Legs - Toomics_files/2024_01_30_17065986142861.jpg" class="list_lazy" alt="" style="display: inline-block;">
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="iconew">New</p>
                                    </div>
                                    <p><span class="section_remai">28</span></p>
                                </div>
                            </div>
                            <div class="caption">
                                <strong class="tit">Fragrant Office Life</strong>
                                <p class="comic_genre">
                                    Romance                                             / Drama
                                </p>
                                <span class="excerpt">
                                    Will a career woman with sensitive nose achieve the sweet smell of success in her job and love life?
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://toomics.com/en/webtoon/episode/toon/6538">
                            <div class="thumb line">
                                <img data-original="https://thumb-g2.toomics.com/upload/thumbnail/20220328112234/2022_11_15_16684905906613.jpg" src="./Lady Long Legs - Toomics_files/2022_11_15_16684905906613.jpg" class="list_lazy" alt="" style="display: inline-block;">
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="ico_fin">End</p>
                                    </div>
                                    <p><span class="section_remai">74</span></p>
                                </div>
                            </div>
                            <div class="caption">
                                <strong class="tit">I Will Always Remember You</strong>
                                <p class="comic_genre">
                                    Romance                                             / Drama
                                </p>
                                <span class="excerpt">
                                    Yeonu meets his lover again, but it seems she has forgotten. Can their love be reignited?
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- You may also like End -->
            <!-- New Comics Start -->
            <div id="sidebar2">
                <div class="clearfix cate-title">
                    <strong class="section_title"><span class="ico_new"></span>New Comics</strong>
                </div>
                <ul class="list-sidebar">
                    <li>
                        <a href="https://toomics.com/en/webtoon/episode/toon/8024">
                            <div class="thumb line">
                                <img data-original="https://thumb-g2.toomics.com/upload/thumbnail/20240611152925/2024_08_14_17236227125621.jpg" src="./Lady Long Legs - Toomics_files/2024_08_14_17236227125621.jpg" class="list_lazy" alt="" style="display: inline-block;">
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="iconew">New</p>
                                    </div>
                                    <p><span class="section_remai">7</span></p>
                                </div>
                            </div>
                            <div class="caption">
                                <strong class="tit">Welcome, Witch AI</strong>
                                <p class="comic_genre">
                                    Romance                                                 / Fantasy
                                </p>
                                <span class="excerpt">
                                    Got an earnest wish? Welcome to the Witch AI.
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://toomics.com/en/webtoon/episode/toon/8023">
                            <div class="thumb line">
                                <img data-original="https://thumb-g1.toomics.com/upload/thumbnail/20240611152550/2024_08_14_17236228269524.jpg" src="./Lady Long Legs - Toomics_files/2024_08_14_17236228269524.jpg" class="list_lazy" alt="" style="display: inline-block;">
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="iconew">New</p>
                                    </div>
                                    <p><span class="section_remai">6</span></p>
                                </div>
                            </div>
                            <div class="caption">
                                <strong class="tit">The Spring Scent of the Sea</strong>
                                <p class="comic_genre">
                                    Romance                                                 / Fantasy
                                </p>
                                <span class="excerpt">
                                    Ariel, a mermaid, ventures into the human world to find her parents.
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://toomics.com/en/webtoon/episode/toon/7918">
                            <div class="thumb line">
                                <img data-original="https://thumb-g2.toomics.com/upload/thumbnail/20240424125735/2024_06_17_17186102645955.jpg" src="./Lady Long Legs - Toomics_files/2024_06_17_17186102645955.jpg" class="list_lazy" alt="" style="display: inline-block;">
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="iconew">New</p>
                                    </div>
                                    <p><span class="section_remai">6</span></p>
                                </div>
                            </div>
                            <div class="caption">
                                <strong class="tit">Remember Me</strong>
                                <p class="comic_genre">
                                    Drama                                                 / Romance
                                </p>
                                <span class="excerpt">
                                    A guardian spirit I never asked for... And to be honest, I'm not sure I need... Or do I...?
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- New Comics End -->
        </div>
    </section>
    <!-- //ep sidebar -->
</div> <!--// inner -->
<script src="./Lady Long Legs - Toomics_files/loader.min.js.download" async="async" defer="defer"></script>

<div class="modal fade" id="ep-sel-own" tabindex="-1" role="dialog" aria-labelledby="ep-sel-own">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="if( $(&#39;#use_coin_save&#39;).prop(&#39;checked&#39;)) { Base.coinPopupSetValue(&#39;Y&#39;); }"><img src="/assets/web/img/icon/modal-close.png" alt="모달창 닫기"></button>
                <h4 class="modal-title"><img src="/assets/web/img/icon/simbol-alert.png" alt=""> Read Episode</h4>
            </div>
            <div class="modal-body modal-footer">
                <div class="modal-body-basic">
                    <p><strong class="dp-block text-16 text-red">Will you purchase the selected comic?</strong></p>
                    <p class="m-b-20 text-14">After you use coins to read this episode, you can reread it anytime through the episode list.</p>
                    <p><a href="javascript:void(0)" onclick="Webtoon.coinSelUsePopupMove(7531);" role="button" class="btn btn-lg btn-red-rounded" style="width:140px" id="use_coin_move" data-url="">OK</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="frmAllBuy" action="https://toomics.com/en/webtoon/episode/toon/7531">
    <input type="hidden" name="all_buy_toon_idx" id="sel_buy_toon_idx" value="7531">
    <input type="hidden" name="buy_idx" id="buy_idx" value="">
    <input type="hidden" name="all_buy_coin" id="all_buy_coin" value="">
    <input type="hidden" name="sel_buy_type" id="sel_buy_type" value="e">
</form>
<div class="modal fade" id="ep-own" tabindex="-1" role="dialog" aria-labelledby="ep-own">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="if ($(&#39;#use_coin_save&#39;).prop(&#39;checked&#39;)) { Base.coinPopupSetValue(&#39;Y&#39;); }">
                    <img src="/assets/web/img/icon/modal-close.png" alt="모달창 닫기">
                </button>
                <h4 class="modal-title">Purchase Episode</h4>
            </div>
            <div class="modal-body">
                <div class="modal_con purchase_coin_ep">
                    <h3>Would you like to purchase episode <b id="use_coin_episode"></b>?</h3>
                    <p class="notice">You will have unlimited access to the purchased episode.</p>
                    <button type="button" class="btn red_btn" id="use_coin_move" onclick="Webtoon.coinUsePopupEpisodeMove();" data-url="">
                        <b><span id="use_coin_price"></span> Coins</b> Purchase
                    </button>

                    <a href="https://toomics.com/en/help/free_in_app/onlyqr" id="free_in_app_link" class="link text-lightblue">Will you install the App to view this episode for free?</a>
                </div>

                <div class="checkbox-img">
                    <input type="checkbox" id="use_coin_save" value="7" class="sr-only">
                    <label for="use_coin_save">Do not show again</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ep-own-cross" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ep-own">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="if ($(&#39;#use_cross_coin_save&#39;).prop(&#39;checked&#39;)) { Base.crossCoinPopupSetValue(&#39;Y&#39;); }">
                    <img src="/assets/web/img/icon/modal-close.png" alt="모달창 닫기">
                </button>
                <h4 class="modal-title">
                    <img src="/assets/web/img/icon/simbol-alert.png" alt=""> Read Episode
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-basic">
                    <p>
                        <strong class="dp-block text-16 text-red">
                            Use <span id="use_cross_coin_price"></span> Web Coins
                        </strong>
                    </p>
                    <p class="m-b-20 text-14">
                        Will you use Web Coins to read this series?<br>Purchased series will be stored on the connected account (Web).
                    </p>
                    <p>
                        <a href="javascript:void(0)" id="use_cross_coin_move" class="btn btn-lg btn-red-rounded" role="button" style="width:140px" data-url="" onclick="Webtoon.crossCoinUsePopupEpisodeMove();">
                            OK
                        </a>
                    </p>
                </div>
            </div>
            <div class="modal-footer modal-cookie">
                <div class="checkbox-img">
                    <input type="checkbox" value="7" id="use_cross_coin_save" class="sr-only">
                    <label for="use_cross_coin_save">Do not show again</label>
                </div>
            </div>
        </div>
    </div>
</div><!-- [D] 코인부족 -->
<div class="modal fade" id="coin_charge" tabindex="-1" role="dialog" aria-labelledby="need-coin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="coin_charge_close" aria-label="Close">
                    <img src="/assets/web/img/icon/modal-close.png" alt="close">
                </button>
                <h4 class="modal-title"><img src="/assets/web/img/icon/simbol-alert.png" alt=""> VIP EPISODE</h4>
            </div>
            <div class="modal-body">
                <div class="modal-fluid"><img src="/assets/web/img/modal/need-coin-en.png" alt="insufficient coins"></div>
                <div class="modal-body-basic">
                    <h5 class="t1">This episode is only for VIP members</h5>
                    <p class="t2">
                        <span class="text-red">Join for only $4 per month!</span>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://toomics.com/en/mypage/payment" role="button" class="btn btn-lg btn-red-rounded" style="width:170px">Join Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade section_sign_box" id="free__app" tabindex="-1" role="dialog" aria-labelledby="free_in_app">
    <div class="modal-dialog" id="free_in_app" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal_con top_line_red">
                    <div class="modal__img">
                        <img src="/assets/web/img/modal/free_in_app_top.png" alt="free in app image">
                    </div>
                    <div class="modal__main__txt">
                        This episode is available on the Toomics app for free
                    </div>
                    <div class="btn__wrap">
                        <span class="qr__code">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANQAAADUAQMAAADeEJ9bAAAABlBMVEX///8AAABVwtN+AAACT0lEQVRYhd2Yy3HDQAxD2QH775IdIARAeZKchYuVWJb3aUb7IQGuqr79ADBVPT1odM9e1Lgxwvazl12N/Sp+b/uoPcPAx3f3nbd9T8IxNhz3dsh3bcfCbIe8H496GhVlvCrwNLWLS1y/1+Fl5g78O37F2dtMRzcfvn+a9r8J8zIDY9ZJwg5w9Dx1ivHhil82EPB/3J8EY36grjt7S2mq90eIgUG7zXuhnl3wxlhr5EPpKYoPfwMK3QiT9Oz5mWilKUUvxVoLC505A+6Z5yXBJDu6KAms9MiDTzAKKUcOymvZrnYCkGKKIIZql5yKF0+uRJiSH3QNC5xdBJNibAYk3lJyyPwrxdrio1aWAJQFBnCKjfOxZVeKYybNWBkCTK5P3JL107p58uh1poSk1OGKNk6HjCvDmPrMlZEnSwtKvQkxPxnScblxq+hAhZikG2ywJ5e8+dImwCTcOMcCrAmN04L3mXIR8iplp+XuqSPfZxxuXbOjqtW1CjHmRo+XWIrDLc3VGhkG5YskXOHLeHItnGDOfCrC6IZSpYPr5vvs6pl9/LOkrE0rxpwbJ3slXeUSP171OhttQLnCAhKBp7ZJsManlpqSI8srkWIoq5tTxOXNZUqEMWT5dJfC4z03txcpRnOSEVvzOPVWvAzD+N0FPkmjmT8fe585X+Ys2KOWDIUYDmjbNK5T58QgwfTT8ywp17uZcjEcYX6V0Npzj/cXTpwcg94ftGxK7ni1VIqxcRRW2njrnhg7b1Jh2qpOdWOKKZa43aXUjWwDT18S7LuPH4l3bAPvNwZTAAAAAElFTkSuQmCC" width="130" height="130" alt="QR Code">
                        </span>

                        <div class="app__down__btns">
                            <a href="https://toomics.com/en/webtoon/episode/toon/7531" class="app__down__btn">
                                <span class="appdownload_Android_en">
                                    Google Play
                                </span>
                            </a>
                            <a href="https://toomics.com/en/webtoon/episode/toon/7531" class="app__down__btn">
                                <span class="appdownload_iOS_en">
                                    App Store
                                </span>
                            </a>
                        </div>
                    </div>

                    <p class="close_popup" data-dismiss="modal">close</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- sms 인증 modal - start -->


