@{
    ViewData["Title"] = "داشبورد";
}


<div class="card border-dark">
    <div class="card-header bg-dark">
        <h4 class="m-b-0 text-white">
            @ViewData["Title"]
        </h4>
    </div>
    <div class="card-body">
        <h3>به صفحه مدیریت خود خوش آمدید</h3>
    </div>
</div>


